.home{
    padding-top: 5rem;
}

.home-content{
    background-color: #E6E6E6;
    border-color: #a1a1a1 !important;
    border: 0.1rem solid;
    border-bottom: 0;
    padding: 0.5rem;
    border-radius: 1rem 1rem 0 0;
    display: flex;
    justify-content: center;
}

.form-search{
    padding: 2px 4px;
    display: flex;
    align-items: center;
    width: 10rem;
}