.footer{
    /*background-color: var(--dark-grey);*/
    color: var(--light-grey);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 5rem;
    margin-top: 1.5rem;
}

.footer span{
    padding-bottom: 0.75rem;
}