/* ****** */
/* HEADER */
/* ****** */
.header{
    position: fixed;
    width: 100%;
    z-index: 999;
    background: var(--green-mountain);
    height: 3.5rem;
}

/* ***** */
/* BRAND */
/* ***** */
.header .brand{
    display: flex;
    align-items: center;
    height: 100%;
    float: left;
    cursor: pointer;
    color: unset;
    text-decoration: unset;
}

.header-logo{
    height: 80%;
    color: var(--green-mountain);
    margin: 0 0.5em;
}

.header .header-title{
    color: white;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin-right: 0.5em;
}

/***************************/
/* PARTIE DROITE DU HEADER */
/***************************/
.right-elements{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
}




/* ********************* */
/* USER INFOS / SETTINGS */
/* ********************* */
.user-settings{
    height: 100%;
}

.header .user-settings :is(.user-info, .login-button){
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 0.5em;
    color: white;
    cursor: pointer;
    transition: all 0.25s ease
}

.header .user-settings .user-info img{
    position: relative;
    margin-left: 0.5em;
    background: var(--light-grey);
    height: 2em;
    width: 2em;
}

.header .user-settings .user-info::before{
    position: absolute;
    content: "10";
    height: 1em;
    width: 1em;
    background-color: red;
    top: 0.5em;
    right: 0.5em;
    border-radius: 50%;
    z-index: 99;
    padding: 0.2em;
    font-size: 0.75em;
    display: flex;
    align-items: center;
    justify-content:center;
}

.header .user-settings:hover :is(.user-info, .login-button){
    background-color: var(--green-mountain-hover);
}


/* dropdown menu */
.user-options {
    display: none;
    position: absolute;
    right: 0;
    margin-right: 0.4em;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    flex-direction: column;
    border-radius: 0.4em;
}

/* pour que le dropdown ne disparaisse pas quand on a le curseur dessus */
.user-settings:hover .user-options{
    display: flex;
}

/* triangle au dessus du dropdown */
.user-options::before{
    content: " ";
    position: absolute;
    top: -0.75em;
    right: 0.6em;
    width: 0;
	height: 0;
	border-left: 0.5em solid transparent;
	border-right: 0.5em solid transparent;
	border-bottom: 0.75em solid #fff;
}


/* Elements de la dropdown */
.user-options div{
    padding: 0.5em 0.75em;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.user-options div:hover{
    background-color: lightgray;
}

.user-options a{
    padding: 0.5em 0.75em;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.user-options a:hover{
    background-color: lightgray;
}

.user-options div:first-child{
    border-radius: 0.4em 0.4em 0 0;
}

.user-options div:last-child{
    border-radius: 0 0 0.4em 0.4em;
    color: var(--error);
}

/* pour afficher le nombre de msg dans la messagerie */
.user-options .mail-box:after{
    content: "10";
    background-color: var(--error);
    color: white;
    padding: 0.1em 0.3em;
    border-radius: 1em;
    margin-left: 0.5em;
}




/*******************/
/* CONNECTION FORM */
/*******************/
.signin-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
}

.signin-form .submit-btn{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.signin-form .submit-btn a{
    margin-right: 0.3rem;
    color: var(--green-mountain);
    cursor: pointer;
    transition: all 0.25s ease;
}

.signin-form .submit-btn :is(a:hover, a:focus){
    color: var(--green-mountain-hover)
}

.signin-form .MuiGrid-item MuiTextField-root{
    width: 100%;
}

.signin-form .MuiGrid-item.name{
    padding-right: 0.5em !important;
}

.signin-form .MuiGrid-item.firstname{
    padding-left: 0.5em !important;
}