.button{
    color: white;
    font-family: 'Roboto', sans-serif;
    /*'-apple-system',
      'BlinkMacSystemFont',
      '"Segoe UI"',
      'Roboto',
      '"Helvetica Neue"',
      'Arial',
      'sans-serif',
      '"Apple Color Emoji"',
      '"Segoe UI Emoji"',
      '"Segoe UI Symbol"'*/
    font-size: 1rem;
    padding: 0.5em 1em;
    margin: 0.3em;
    border-radius: 0.3em;
    border: none;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    background-color: var(--primary);
}

.button:hover{
    box-shadow: 0 0 0.3em black;
}


/* ERROR */
.button.button-error{
    background-color: var(--error);
}

.button.button-error:hover{
    background-color: var(--error-hover);
}

.button.button-error.outlined{
    border: 0.1em solid var(--error);
    background-color: unset;
    color: var(--error);
}

.button.button-error.outlined:hover{
    border-color: var(--error-hover);
    color: var(--error-hover);
}


/* SUCCESS */
.button.button-success{
    background-color: var(--success);
}

.button.button-success:hover{
    background-color: var(--success-hover);
}

.button.button-success.outlined{
    border: 0.1em solid var(--success);
    background-color: unset;
    color: var(--success);
}

.button.button-success.outlined:hover{
    border-color: var(--success-hover);
    color: var(--success-hover);
}


/* PRIMARY */
.button.button-primary{
    background-color: var(--primary);
}

.button.button-primary:hover{
    background-color: var(--primary-hover);
}

.button.button-primary.outlined{
    border: 0.1em solid var(--primary);
    background-color: unset;
    color: var(--primary);
}

.button.button-primary.outlined:hover{
    border-color: var(--primary-hover);
    color: var(--primary-hover);
}


/* GREEN MOUTAIN */
.button.button-green-mtn{
    background-color: var(--green-mountain);
}

.button.button-green-mtn:hover{
    background-color: var(--green-mountain-hover);
}

.button.button-green-mtn.outlined{
    border: 0.1em solid var(--green-mountain);
    background-color: unset;
    color: var(--green-mountain);
}

.button.button-green-mtn.outlined:hover{
    border-color: var(--green-mountain-hover);
    color: var(--green-mountain-hover);
}


/* WHITE */
.button.button-white{
    background-color: var(--light-grey);
}

.button.button-white:hover{
    background-color: var(--light-grey);
}

.button.button-white.outlined{
    border: 0.1em solid var(--light-grey);
    background-color: unset;
    color: var(--light-grey);
}

.button.button-white.outlined:hover{
    border-color: var(--light-grey);
    color: var(--white);
    background-color: rgba(220, 220, 220, 0.3);
}